@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Oswald&display=swap');

*{
   margin: 0;
   padding: 0;
}

:root{
    --vermelho:#d62828;
    --branco: #f2f2f2;
    --azul-escuro: #231a5b;
    --braco-smoke: #f5f5f5;
    --fonte-titulo:"Angkor", serif;
    --fonte-texto: "Oswald", sans-serif;
}

.cabecalho{
    background-color: var(--azul-escuro);
    color: var(--vermelho);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2em;

}

.cabecalho-imagem{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
}

.cabecalho-lista-link{
    text-decoration: none;
    color: var(--branco-smoke);
    margin-right: 1.5em;
    font-size: 1.5em;
}

.escola{
    background-color: var(--braco-smoke);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
    font-family: var(--fonte-texto);
}

.escola-texto-titulo{
    padding: 24px 0;
    font-family: var(--fonte-titulo);
}

.escola-imagem{
    width: 25%;
}

.estudante-div-fotos{
    width: 80%;
    border-radius: 5%;
}

.estudante-div-icone{
    width: 24px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.estudante{
    background: linear-gradient(#f5f5f5, #231a5b );
}

.estudante-titulo{
    text-align: center;
    padding: 50px 0;
    font-family: var(--fonte-titulo);
    color: var(--vermelho);
}

.estudante-todos{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.estudante-div{
    text-align: center;
}

.estudante-div-nome{
    margin: 8px 0;
    font-family: var(--fonte-texto);
    font-size: 1.3em;
}

.rodape{
    background-color: var(--azul-escuro);
    text-align: center;
}

.rodape-logo{
    width: 5%;
    border-radius: 100%;
    margin: 1em;
    padding: 12px 0;
}



